@charset "UTF-8";

body {
    background-color: rgb(245, 246, 247);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-wrap: wrap;
    display: flex;
}

header {
    width: 330px;
    height: 64px;
    background-image: url(https://ssl.pstatic.net/static/nid/join/m_logo_naver.png);
}

form {
    width: 500px;
}

#box {
    display: block;
    position: relative;
    width: 100%;
    height: 51px;
    border: solid 1px #dadada;
    padding: 10px 110px 10px 14px;
    background: #fff;
    box-sizing: border-box;
}

p {
    font-size: 14px;
    font-weight: 700;
}

input#submit {
    background-color: #03c75a;
    display: block;
    width: 100%;
    padding: 15px 0 15px;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
}

.miniBox {
    width: 30%;
}